<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="interval" value="10"/>
    <add key="perfCounterInterval" value="300"/>
    <add key="ReportRouterInfo" value="true"/>
    <add key="ReportServerHealth" value="true"/>
    <add key="UpdateShadowsocksUsers" value="true"/>
    <add key="ShadowsocksManageAddress" value="127.0.0.1"/>
    <add key="ShadowsocksManagePort" value="6001"/>
    <add key="connectionString" value="Server=sql.antvpn.io; Database=antvpn.accounting;User ID=sa;Password=Woslaodaha0909;Connection Timeout=30;"/>
    <add key="connectionStringServer" value="Server=sql.antvpn.io; Database=antvpn.server;User ID=sa;Password=Woslaodaha0909;Connection Timeout=30;"/>
    <add key="connectionStringDc" value="Server=sql.antvpn.io; Database=antvpn.login;User ID=sa;Password=Woslaodaha0909;Connection Timeout=30;"/>
  </appSettings>
</configuration>
