<nav class="navbar navbar-default">

    <div class="navbar-global theme-default">
        <div class="container">
            <div class="navbar-header">
                <a href="http://www.microsoft.com" class="navbar-brand">
                    <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-11008/shell/v3/images/logo/microsoft.png" alt="Microsoft" height="23">
                </a>
            </div>
        </div>
    </div>


    <div class="navbar-local color-white theme-light">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyph glyph-hamburger"></i>
                </button>

                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    @*<img src="images/winstrap_white.svg" alt="antvpn.io" height="29">*@
                    @*<img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-11008/shell/v3/images/logo/microsoft.png" alt="Microsoft" height="29">*@
                    antvpn.io
                </a>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="color-type-secondary" href="#" data-toggle="modal">Pricing</a>
                    </li>
                    <li>
                        <a class="color-type-secondary" asp-controller="Docs" asp-action="Index">Documentation</a>
                    </li>
                    <li>
                        <a class="color-type-secondary" asp-controller="Server" asp-action="Index">Servers</a>
                    </li>
                    <li class="dropdown">
                        <a href="colors.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Windows</a></li>
                            <li class="divider"></li>
                            <li><a href="http://download.antvpn.io/strongSwan-1.8.2.apk">Android</a></li>
                            <li><a href="#">iOS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-controller="Home" asp-action="ContactUs">Contact us</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Home" asp-action="PrivacyStatement">Privacy & cookies</a></li>
                            <li><a asp-controller="Home" asp-action="TermsOfUse">Terms of use</a></li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="color-type-secondary" asp-area="" asp-controller="Dashboard" asp-action="Index" data-toggle="modal">Dashboard</a>
                        </li>
                    }
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@(User.FindFirst("preferred_username").Value)<i class="glyph glyph-chevron-down-2"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a asp-controller="Account" asp-action="Signout">Sign out</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Signin">Sign In</a></li>
                    }
                </ul>

            </div>

        </div>
    </div>
</nav>
