@model IEnumerable<IGrouping<string, WebMVC.Docs.Article>>

<div class="container">
    <h1 class="pull-center">antvpn.io Support</h1>
    <hr />
    <div class="row">
        @foreach (IGrouping<string, WebMVC.Docs.Article> item in Model)
        {
            <div class="col-md-8">
                <h3>@item.Key</h3>
                <ul>
                    @foreach (WebMVC.Docs.Article a in item)
                    {
                        <li>
                            <a asp-controller="Docs" asp-action="Articles" asp-route-title="@a.Title.Replace(" ", "-")">@a.Title</a>
                        </li>
                    }
                </ul>

            </div>
        }

    </div>

</div>
