

<div class="jumbotron theme-dark" style="padding-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-24 text-center">
                <h1><span class="title">antvpn.io</span> pricing.</h1>
                <div class="type-sh3">
                    No upfront costs. Only pay for what you use.
                </div>
                <div class="col-md-12 col-md-offset-6">
                    <div class="type-p3">
                        Save up to 40 percent on Annual Subscription. Learn more
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-18">
            <h1>Flexible purchase options</h1>
            <hr />
            @*<p>
                antvpn.io is available for purchase in 140 countries around the world, and we support billing in 24 currencies. You can purchase antvpn.io resources using one of multiple ways:
                <br />
                Pay-As-You-Go Subscriptions
                <br />

                Pay-As-You-Go subscriptions are our most popular and flexible payment plan. There are no minimum purchases or commitments and you can cancel anytime. You can pay for them by credit-card as well as by invoice.
                <br />

                Learn more
            </p>*@


        </div>

        <div class="col-md-24">
            <img class="img-responsive" src="~/images/payment.jpg" />
        </div>
    </div>


</div>