@model IEnumerable<Extensions.LoginStatus>


<div class="container">
    <div class="entity-list entity-list-add-item-button">
        <a class="entity-list-item" href="#" data-toggle="modal" data-target="#modal-addlogin">
            <div class="item-icon">
                <span class="glyph glyph-add"></span>
            </div>
            <div class="item-content-primary">
                <div class="content-text-primary">Add an item</div>
            </div>
        </a>
    </div>

    @if (Model != null)
    {
        <div class="entity-list entity-list-expandable">
            @foreach (var l in Model)
            {
                <div class="entity-list-item">
                    <div class="item-icon">
                        <span class="glyph glyph-people"></span>
                    </div>
                    <div class="item-content-secondary">
                        <div class="content-text-primary">@(l.BasicAcct.TotalInOutDisplay)</div>
                        <div class="content-text-secondary">@DateTime.Now.ToString("yyyy/MM/dd")</div>
                    </div>
                    <div class="item-content-primary">
                        <div class="content-text-primary">@l.LoginName</div>
                        <div class="content-text-secondary">Allow dial in: @(l.AllowDialIn ? "Yes" : "No")</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60%</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-content-expanded">
                        <button class="btn btn-default" disabled="disabled">Configure</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#modal-resetpassword">Reset password</button>
                    </div>
                </div>
            }
        </div>
    }
</div>


<!--
        Modal
-->

<div class="modal" id="modal-addlogin" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    Create VPN Server Login
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Submit
                </button>
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-resetpassword" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    Reset VPN Server Login Password
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Submit
                </button>
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>