body {
   
}

a.navbar-brand {
    color: white !important;
}

#introduction {
    background: url("/images/man-computer-headphones.jpg") no-repeat fixed top;
    color: white;

    .container {
        h1 {
            font-size: 4em;
        }
        padding-top: 8em;
        padding-bottom: 5em;

        a.btn {
            border-radius: 0;
        }
    }
}

#global {
    background-color: #DEDEDE;
}