@base: #89BF04;
@background: F4F4F4;

body {
    //padding-top: 50px;
    //padding-bottom: 20px;
}

a.navbar-brand {
    color: @base !important;
}

#introduction {
    background: url("/images/man-computer-headphones.jpg") no-repeat;
    color: white;

    .title {
        color: @base;
    }

}

#overview {
    padding-top: 2em;
    background-color: #F4F4F4;
}

#global {
    background-color: #F2F2F2;
}
