a.navbar-brand {
  color: #89BF04 !important;
}
#introduction {
  background: url("/images/man-computer-headphones.jpg") no-repeat;
  color: white;
}
#introduction .title {
  color: #89BF04;
}
#overview {
  padding-top: 2em;
  background-color: #F4F4F4;
}
#global {
  background-color: #F2F2F2;
}