body {
  padding-top: 50px;
}
a.navbar-brand {
  color: #89BF04 !important;
}
#introduction {
  background: url("/images/man-computer-headphones.jpg") no-repeat;
  color: white;
}
#introduction .title {
  color: #89BF04;
}
#introduction .container {
  padding-top: 8em;
  padding-bottom: 5em;
}
#introduction .container h1 {
  font-size: 4em;
}
#introduction .container a.btn {
  border-radius: 0;
}
#overview {
  padding-top: 2em;
  background-color: #F4F4F4;
}
#global {
  background-color: #F2F2F2;
}