@base: #89BF04;
@background: F4F4F4;

body {
    overflow-x: auto;
    //padding-top: 50px;
    //padding-bottom: 20px;
}

a.navbar-brand {
    color: @base !important;
    font-size: xx-large;
}

#introduction {
    background: url("/images/man-computer-headphones.jpg") no-repeat;
    color: white;

    .title {
        color: @base;
    }
}

#overview {
    padding-top: 2em;
    background-color: #F4F4F4;
}

#global {
    background-color: #F2F2F2;
}

#profile-picture {
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    max-width: 144px;
    max-height: 144px;
    margin-top: -46px;
    margin-left: 46px;
    opacity: .7;
}

.space-header {
    margin-top: 50px;
}

.page-header {
    border-bottom: none;
    margin-bottom: 1.5em;
}

.status-running {
    color: green;
}

.status-stop {
    color: red;
}

.profile-detail {
    padding: 1em;
}

input.form-control, textarea.form-control {
    max-width: 486px;
}